<h1><%= @machine.location %> Vending Machine</h1>

<h3>Snacks: </h3>

<% @machine.snacks.each do |snack| %>
  <p>Name: <%= snack.name %></p>
  <p>Price: <%= snack.price %></p>
  <br>
<% end %>

<p>Average Price Of Snacks <%= @machine.snacks.average(:price) %></p>
